body 
{
    background-image:url("https://lh3.googleusercontent.com/-IwDw6LI7zlk/Tr_aBRICicI/AAAAAAAAA7w/u0yqX5ff6qY/s800/tettidesign.knitted.wallpaper.1600.jpg");
    
    background-position:center;

    background-repeat: no-repeat;

    background-size: cover;

/* p

	{

	     font-size:50px;

	     position: fixed;

	     left: 550px;

	     top: 300px;

	} */